{% extends 'main.html'%}

{%block content%}

    <br>
    
    <table>
        <tr>
            <th> SN</th>
            <th> Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>

        </tr>

        {% for item in items %}

        <tr>
            <th> {{item.id}} </th>
            <th> {{item.name}} </th>
            <th> Rs{{item.price}} </th>
            <th> <img width="300" src="/{{item.image}}" /> </th>
            <th>
                <a href="/item/edit/{{item.id}}"> Edit </a>
            </th>
            <th>
                <a href="/item/delete/{{item.id}}"> Delete </a>
            </th>
        
        </tr>

        {%endfor%}

    </table>

{%endblock%}